*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 22px;
}

body{
    min-height: 100vh;
    background: url("../Images/2.jpg");
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #0082e6;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 20px 4%;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #fff;
    font-size: 25px;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: block;
}

header .navbar ul li a:hover{
    background: #1b9bff;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #0082e6;
    display: none;
    
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
display: initial;
}

